@use 'variables.scss';
@use 'themes.scss';

@font-face {
    font-family: 'DM Sans';
    src: url('/pages/weather-forecast/assets/DMSans-VariableFont_opsz\,wght.ttf') format('truetype-variations');
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/pages/weather-forecast/assets/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype-variations');
    font-weight: 700;
    font-style: normal;
}

*, *::before, *::after {
  	box-sizing: border-box; 
}

html, h1, h2, h3, h4, h5, h6, ul, main {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a { 
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}